.contact-heading {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
}
.icons-container {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  color: black;
}
.icons-container div {
  cursor: pointer;
}
.icon {
  margin: 0 20px;
}
#contact {
  background-color: rgba(122, 229, 251, 0.7);
  position: relative;
  margin-top: 579.333px;
}
.foot {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}
